<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <title>Display dates</title>
</head>
<body>
<div id="app">
    <ul>
        <!-- This should be displayed if the age is lower than 18 -->
        <li v-if="age < 18">I am a minor</li>
        <!-- This should be displayed if the age is greater of equal than 18 -->
        <li v-if="age <= 18">I am an adult</li>
        <!-- When the button is clicked, the method `displayAlert` must be called -->
        <li v-on:click="displayAlert"><button>Click on me!</button></li>
        <!-- The span must have the class which name is equal to the value of colorClass (from the instance's data) -->
        <li>The following element has the class {{ colorClass }}: <span>Hello</span></li>
        <!-- The content of the span should be the same as the variable htmlContent but the HTML must be interpreted -->
        <li>The following element has its HTML content injected: <span></span></li>
    </ul>
</div>

<script >
    new Vue({
        el: '#app',
        data: { // You shouldn't change the "data" part
            message: 'Hello',
            age: '18',
            htmlContent: 'I am <strong>strong !</strong>',
            colorClass: 'red'
        },
        methods: { // You shouldn't change the "methods" part
            displayAlert () {
                window.alert(this.message)
            }
        }
    })

</script>
</body>
</html>
