<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h5 class="text-muted">Vertical center using auto-margins..</h5>
    <!--vertical align on parent using my-auto-->
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <div class="card card-block w-25">I am Groot.</div>
        </div>
    </div>
    <h5 class="text-muted">Vertical &amp; horizontal center using auto-margins..</h5>
    <!--vertical align on parent using my-auto, horizontal align on self mx-auto-->
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <div class="card card-block w-25 mx-auto">I am Groot.</div>
        </div>
    </div>
</div>
<div class="note">
    Various vertical align examples with Bootstrap 4
</div>
</body>
</html>